<div class="card rounded border-light shadow p-3 mb-5">	
	<h4 class="card-header text-center">Faphra's Topics</h4>
	<p></p>

	<p></p>
	<ul class="list-group list-group-flush">
		
			<div class="topic">
			  <% @most_used_topics.each do |t| %>
			  <li class="list-group-item mb-2 pb-0">
			  	<h5 class="text-center">
			    <%= link_to t.upcase, tagged_path(topic: t), class: "text-decoration-none" %>
				</h5>
			  </li>
			  <% end %>
			</div>

	</ul>
 
</div>
