<ul>
	<% @phrases.each do |phrase| %>
       <div class="card border-light flex-row flex-wrap shadow p-3 mb-4 ">

      	<div class="card-block d-flex">
		  	<p class="image">
		  		<%= gravatar_image_tag(current_user.email, 
						  size: 64, alt: current_user.name) %>
		  	</p>
	    </div>

	  	<div class="">
	  	  <div class="col-md-12">
	  		<h5 class="card-title">Author</h5>
	  		<h6 class="card-subtitle mb-2 text-muted">username</h6>
	  	  </div>
	  	</div>

	  	  <div class="card-body">
			<p class="card-text">
				<em><%= phrase.body %></em>
			</p>
		  </div>

		</div>

	<% end %>
</ul>	
