<%= form_for(Phrase.new, :url => { :action => "create" }) do |f| %>


    <h5 class="card-title">Today's Favorite Phrase</h5>
    <div class="col-md-12">
   		 <%= f.text_area :body, class: "form-control",
   		 placeholder: "Add your new favorite phrase...", autofocus: true %><br />
    </div>

    <%= f.submit "Create faphra", class: "btn ml-1 btn-primary btn-lg btn-xlarge" %>

<% end %>