<div class="card border-light shadow p-3 ">
	<h5 class="card-header text-center">Profile</h5>

    <div class="card-block d-flex">
	  	<p class="image">
	  		<%= gravatar_image_tag(current_user.email, 
					  size: 64, alt: current_user.name) %>
	  	</p>
    </div>

  	<div class="">
  	  <div class="col-md-12">
  		<h5 class="card-title"><%= current_user.name %></h5>
  		<h6 class="card-subtitle mb-2 text-muted"><%= current_user.username %></h6>
  	  </div>
  	</div>	
</div>