<div class="card rounded border-light shadow p-3 ">
	<h5 class="card-header text-center mb-2">Profile</h5>

    <div class="card-block d-flex">
	  	<p class="image">
	  		<%= gravatar_image_tag(current_user.email, 
					  size: 64, alt: current_user.name) %>
	  	</p>
      <div class="col">
        <p></p>
        <h5 class="card-title"><%= current_user.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= current_user.username %></h6>
      </div>
    </div>
    
  <span class="border-bottom"></span>
  <div class="row">
    <div class="col text-secondary">
      <h6>Faphras</h6>
      <p><%= link_to Phrase.count, phrases_path(@ownphrases), class: "text-info" %></p>
    </div>
    <div class="col text-secondary">
      <h6>Following</h6>
      <p class="text-info">7</p>
    </div>
    <div class="col text-secondary">
      <h6>Followers</h6>
      <p class="text-info">24</p>
    </div>
  </div>
</div>