
<div class="card shadow p-3 mb-5 bg-white rounded">	
	<h5 class="card-header text-center">Trends</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Trend 1</li>
    <li class="list-group-item">Trend 2</li>
    <li class="list-group-item">Trend 3</li>
    <li class="list-group-item">Trend 4</li>
  </ul>
</div>
