<%= render 'shared/page_title', title: "favorite phrases" %>

<div class="row">
  <div class="col-sm-8">	
	<%= render 'feed' %>
  </div>

  <div class="col-sm-4">	
	<%= render 'trends' %>
  </div>
</div>