@import 'bootstrap/dist/css/bootstrap';



/* NAVBAR */

/* change the background color */
.navbar {
    background-color: #399ada;
}

/* round images */
.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

/* flash messages */
.alert {
	margin-bottom: 0;
}

